@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* , html , body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 150px;
    height: 150px;
}
.header{
    margin-bottom: 2em;
}
.content{
    margin-top: 1em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
}
.left-content{
    margin-right: 3em;
}
.title{
    margin-bottom: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 32px;
}
.description{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 30em;
    margin-bottom: 1.5em;
}
a{
    text-decoration: none;
}
.button-next{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: linear-gradient(97.09deg, rgba(15, 10, 253, 0.67) 49.82%, rgba(15, 10, 253, 0) 164.64%);
    border-radius: 50px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: fit-content;
    filter: drop-shadow(1px 1px 5px #0F0AFD);
}
.button-next a{
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    background-color: transparent;
}
.button-next:hover{
    background: linear-gradient(95.31deg, rgba(3, 0, 163, 0.67) 54.96%, rgba(15, 10, 253, 0) 276.21%);
    filter: drop-shadow(1px 1px 5px #0F0AFD);
}
.button-next:active{
    background-color: #0F0AFD;
    filter: drop-shadow(1px 1px 5px #0F0AFD);
    transform: translateY(2px);
}
.right-content img{
    width: 450px;
}